.page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  color: $white;
  background-color: #242424;

  &--app & {
    &__container {
      @media #{$screen-laptop} {
        display: grid;
        overflow: hidden;
        grid-template-columns: rem(250px) 1fr;
      }
  
      @media #{$screen-desktop} {
        grid-template-columns: rem(300px) 1fr;
      }
    }

    &__content {
      overflow-y: auto;

      height: 100vh;
      min-height: 100%;
      padding: rem($gap-small);

      background-color: $boston-blue;

      @media #{$screen-laptop} {
        border-top-left-radius: rem(16px);
        border-bottom-left-radius: rem(16px);
        box-shadow: 0 0 rem($gap-mini) $boston-blue;
      }
    }
  }

  &--error & {
    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      @include text-size(36px, 36px, $font-weight-bold);

      margin-bottom: rem($gap-small);
      
      @media #{$screen-laptop} {
        @include text-size(60px, 60px, $font-weight-bold);
      }
    }

    &__text {
      margin-bottom: rem($gap-small);
    }
  }

  &__header {}

  &__content {
    overflow: hidden;
    flex-grow: 1;

    width: 100%;
  }

  &__sidebar {}

  &__container {}
}
